@import '../../../assets/Styles/styles.scss';

.table {
	.table-head {
		.cell {
			text-transform: capitalize;
		}
	}
	.table-body {
	}
	a {
		color: $white;
		text-decoration: none;
		display: block;
	}
}
