@import '../../assets/Styles/styles.scss';

.sidebar {
	background-color: $black;
	padding: $building-unit-x2 $building-unit;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		position: relative;
	}

	a {
		color: $white;
		text-decoration: none;
		display: block;
		padding-left: 25px;
		padding: 10px 5px;
		padding-left: 30px;
	}
}
